:root {
  --bg-primary: #000000;
  --bg-secondary: #303030;

  --text-primary: #ffffff;
  --text-secondary: #c6c6c6;

  --accent: #ffffff; 

  --border-subtle: #5e5e5e;
  --hover-soft: #919191;
}

body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

/* Reset básico */
* {
  box-sizing: border-box;
}

/* Secciones */
section {
  padding: 100px 20px;
  text-align: center;
}

/* Alternar fondos */
section:nth-child(even) {
  background-color: var(--bg-secondary);
}

/* Títulos */
h1, h2 {
  color: var(--accent);
  margin-bottom: 20px;
}

/* Texto */
p {
  color: var(--text-secondary);
  line-height: 1.6;
}







